<% page_title 'Email addresses' %>

<% if @competitors.size > 0 %>
  <h2>Confirmed competitors</h2>
  <p><b>BCC:</b> <%= @competitors.map(&:email).join(', ') %></p>
<% end %>

<% if @guests.size > 0 %>
  <h2>Confirmed guests</h2>
  <p><b>BCC:</b> <%= @guests.map(&:email).join(', ') %></p>
<% end %>

<% if @locals.size > 0 %>
  <h2>Confirmed locals</h2>
  <p><b>BCC:</b> <%= @locals.map(&:email).join(', ') %></p>
<% end %>

<% if @awaiting_payment.size > 0 %>
  <h2>Unconfirmed, not cancelled, and not paid yet</h2>
  <p><b>BCC:</b> <%= @awaiting_payment.map(&:email).join(', ') %></p>
<% end %>
