<% page_title 'Dashboard' %>

<div class="dashboard">
  <% if @getting_started.present? %>
    <%= render 'getting_started' %>
  <% end %>

  <br/>

  <% if @financials.total_count > 0 %>
    <%= render 'financial_overview' %>
  <% end %>

  <% if @events_with_limits.size > 0 %>
    <%= render 'events_with_limits' %>
  <% end %>
</div>
