<div class='text-editor'>
  <%= form.text_area field, rows: 10 %>

  <script type='text/javascript'>
    var textEditor = CodeMirror.fromTextArea(document.getElementById(<%= raw id.to_json %>), {
      lineNumbers: true,
      mode: { name: "htmlmixed" }
    });
  </script>
</div>
