<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cubecomp</title>
    <%= stylesheet_link_tag 'admin/nametags', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
