<% page_title 'Import email templates' %>

<% if @options.size == 0 %>
  There are no email templates available to import right now.
<% else %>
  <%= form_tag(import_templates_admin_competition_email_templates_path) do %>
    <table class='form-table'>
      <tr>
        <td>Competition:</td>
        <td><%= select_tag 'from_competition_id', options_for_select(@options) %></td>
      </tr>
      <tr>
        <td style="text-align: right" colspan='2'>
          <%= submit_button(nil, 'Import') %>
          <%= back_button(admin_competition_email_templates_path) %>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>
