<% page_title 'Email templates' %>

<p>
  <%= link_to 'Import templates from other competition', import_templates_admin_competition_email_templates_path(current_competition) %><br/>
  <%= link_to 'New template', new_admin_competition_email_template_path %>
</p>

<table class='default-table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @templates.each do |template| %>
      <tr>
        <td>
          <%=
            link_to(
              template.name,
              edit_admin_competition_email_template_path(current_competition, template)
            )
          %>
        </td>
        <td class='actions'>
          <%=
            delete_button(
              admin_competition_email_template_path(current_competition, template),
              method: :delete,
              data: { confirm: 'Are you sure?' }
            )
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
