<%= page_title "Help" %>

<h2>Found a bug? Looking for a feature?</h2>

If you think you found a problem with this website or if you have a feature request, please send an email to
<a href="mailto:<%= Cubecomp::Application.config.email_address %>"><%= Cubecomp::Application.config.email_address %></a> or open an issue on the <a href="<%= Cubecomp::Application.config.github %>">GitHub repository</a>.
