@import "../../../vendor/assets/stylesheets/sb-admin-2/bootstrap.scss";

body {
  margin: 0px;
  padding: 0px;
}

table.checklist {
  @extend .table;
  @extend .table-striped;
  @extend .table-bordered;
  width: auto;
  border-collapse: collapse;
}

thead {
  display: table-header-group;
}

td, th {
  font-size: 80%;
}

td {
  padding: 0px;
  margin: 0px;
  font-size: 65%;
  white-space: nowrap;
}

td.comment {
  width: 100%;
  white-space: normal;
}
