<div class='news'>
  <ul>
    <% @news.each do |item| %>
      <li>
        <span class='news-time'><%= I18n.l(item.time.to_date, format: :news) %></span>
        <span class='news-text'><%= item.text.html_safe %></span>
      </li>
    <% end %>
  </ul>
</div>
