<% page_title @theme.name %>

<ul>
  <% @theme.files.each do |template| %>
    <li>
      <%= link_to template.filename, edit_admin_theme_theme_file_path(@theme, template) %>
      (<%= link_to 'Destroy', admin_theme_theme_file_path(@theme, template), method: :delete, data: { confirm: 'Are you sure?' } %>)
    </li>
  <% end %>
</ul>

<%= link_to 'New template', new_admin_theme_theme_file_path(@theme) %>

<%= link_to 'Back', admin_themes_path %>
