// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 *= require_self
 * require_tree .
 *= require_tree ../../../vendor/assets/stylesheets/sb-admin-2
 */

@import "../../../vendor/assets/stylesheets/sb-admin-2/bootstrap.scss";

table.default-table {
  @extend .table;
  @extend .table-striped;
  @extend .table-hover;
}

input:not([type='radio']):not([type='checkbox']),
textarea,
select
{
  @extend .form-control;
}

input.small,
select.small
{
  width: 100px !important;
}

select.date-select,
select.time-select {
  display: inline;
}

select.time-select {
  @extend .small;
}

select.date-select {
  @extend .small;
}

.field_with_errors {
  @extend .has-error;
}

form label {
  @extend .control-label;
}

p#notice {
  @extend .alert;
  @extend .alert-success;
}

.button {
  @extend .btn;
  @extend .btn-default;
}

button[type='submit'] {
  @extend .button;
  color: white !important;
  @extend .btn-primary;
}

table.form-table td {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

table.form-table input:not([type='radio']):not([type='checkbox']):not([type='submit']),
table.form-table textarea,
table.form-table select
{
  display: inline;
  width: 300px;
}
