table {
  td {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

table.registration_form {
  input:not([type='radio']):not([type='checkbox']):not([type='submit']),
  textarea, select
  {
    display: inline;
    width: 300px;
  }

  select.date-select {
    width: 98px;
    display: inline;
  }

  td.register {
    text-align: center;
  }
}
