<% page_title "Users" %>

<% if current_user.policy.create_user?(User.new) %>
  <p><%= link_to 'New user', new_admin_user_path %></p>
<% end %>

<% if @active_users.size > 0 %>
  <h3>Active users</h3>
  <%= render 'table', users: @active_users %>
<% end %>

<% if @inactive_delegates.size > 0 %>
  <h3>Inactive delegates</h3>
  <%= render 'table', users: @inactive_delegates %>
<% end %>

<% if @inactive_others.size > 0 %>
  <h3>Inactive users</h3>
  <%= render 'table', users: @inactive_others %>
<% end %>
